@media only screen and (max-width: 576px) {
  ul li {
    opacity: 0%;
  }
  .burger,
  .footer-burger {
    display: inline;

    position: absolute;
    margin-left: 40vw;
    margin-top: 2vh;
    font-size: x-large;
  }
  .subscribe-div1 {
    font-size: small;
    font-weight: bold;
  }
  .form-control {
    background-color: rgb(255, 225, 135);
    text-align: center;
    border: 0.5% solid rgb(255, 194, 13);
  }
  .button {
    padding: 2% 2% !important;
  }
  .our-team-para,
  .portfolio-para,
  .footer-contact-para1 {
    font-size: large;
  }
  .portfolio-listrow1 {
    display: none !important;
  }
  .portfolio-listrow2 {
    display: block !important;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  ul li {
    opacity: 0%;
  }
  .burger,
  .footer-burger {
    display: inline;
    position: absolute;
    margin-left: 40vw;
    margin-top: 2vh;
    font-size: x-large;
  }
  .subscribe-div1 {
    font-size: small;
    font-weight: bold;
  }
  .form-control {
    background-color: rgb(255, 225, 135);
    text-align: center;
    border: 0.5% solid rgb(255, 194, 13);
  }
  .button {
    padding: 2% 2% !important;
  }
  .our-team-para,
  .portfolio-para,
  .footer-contact-para1 {
    font-size: large;
  }
  .portfolio-listrow1 {
    display: none !important;
  }
  .portfolio-listrow2 {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  ul li {
    background-color: transparent !important;
    color: white !important;
    font-size: xx-small !important;
    padding: 0.5rem 0.5rem !important;
    border: 0 !important;
  }
  .burger,
  .footer-burger {
    display: none;
  }
  .subscribe-div1 {
    font-size: xx-large;
    font-weight: normal;
  }
  .form-control {
    background-color: rgb(255, 225, 135);
    border: 0;
  }
  .button {
    padding: 0.5% 2% !important;
  }
  .our-team-para,
  .portfolio-para,
  .footer-contact-para1 {
    font-size: xx-large;
  }
  .portfolio-listrow1 {
    display: flex !important;
    padding: 0 15%;
  }
  .portfolio-listrow2 {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
  ul li {
    background-color: transparent !important;
    color: white !important;
    font-size: small !important;
    padding: 0.5rem 0.5rem !important;
    border: 0 !important;
  }
  .burger,
  .footer-burger {
    display: none;
  }
  .subscribe-div1 {
    font-size: xx-large;
    font-weight: normal;
  }
  .form-control {
    background-color: rgb(255, 225, 135);
    border: 0;
  }
  .button {
    padding: 0.5% 2% !important;
  }
  .our-team-para,
  .portfolio-para,
  .footer-contact-para1 {
    font-size: xx-large;
  }
  .portfolio-listrow1 {
    display: flex !important;
    padding: 0 25%;
  }
  .portfolio-listrow2 {
    display: none !important;
  }
}

@media only screen and (min-width: 1400px) {
  ul li {
    background-color: transparent !important;
    color: white !important;
    font-size: small !important;
    padding: 0.5rem 0.5rem !important;
    border: 0 !important;
  }
  .burger,
  .footer-burger {
    display: none;
  }
  .subscribe-div1 {
    font-size: xx-large;
    font-weight: normal;
  }
  .form-control {
    background-color: rgb(255, 225, 135);
    border: 0;
  }
  .button {
    padding: 0.5% 2% !important;
  }
  .our-team-para,
  .portfolio-para,
  .footer-contact-para1 {
    font-size: xx-large;
  }
  .portfolio-listrow1 {
    display: flex !important;
    padding: 0 25%;
  }
  .portfolio-listrow2 {
    display: none !important;
  }
}

/*-------------------------------------------------------------------------------------------------------------------*/
body {
  /*background-color: rgb(31, 31, 29);*/
}.footer-menudiv ul
.wrapper {
  background-color: white;
}
.hdr-img {
  background-image: url(../image/image1.jpg);
  background-size: cover;
  background-position: center;
  height: 75vh;
  margin: 0 !important;
}
.hdr-opacity {
  background-color: rgba(31, 31, 29, 0.4);
  padding: 0 !important;
  margin: 0 !important;
}
.logo-text {
  color: white;
  padding: 3vh 10vw;
}

.menu-div {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.hdr-text {
  padding: 10%;
  text-align: center;
  color: white;
}
.hdr-text p {
  font-family: "Vujahday Script", cursive;
  font-size: 2rem;
}
.get-in-touch {
  background-color: rgb(255, 194, 13) !important;
  color: black !important;
  font-size: medium !important;
  font-weight: normal !important;
}
.about-us {
  padding: 5% 10%;
  text-align: center;
  background-color: white;
}

.about-us-text {
  font-size: xx-large;
}
.what-we-do {
  background-color: white;
}
.block-button {
  width: 100%;
  background-color: rgb(255, 194, 13) !important;
}
.progress {
  height: 10px !important;
}
.design-95 {
  width: 95%;
  background-color: rgb(255, 194, 13) !important;
}
.coding-75 {
  width: 75%;

  background-color: rgb(255, 194, 13) !important;
}
.marketing-55 {
  width: 55%;
  background-color: rgb(255, 194, 13) !important;
}
.subscribe-div {
  background-color: rgb(255, 194, 13) !important;
  padding: 5% 10% !important;

  text-align: center !important;
}
.photo-fluid {
  background-color: rgb(50, 50, 50);
}
.our-team {
  text-align: center;
  padding: 5% 10% !important;
  color: white;
}
.photo-div {
  text-align: center;
  color: white;
  padding: 5%;
}
.envelop-button {
  background-color: rgb(255, 194, 13);
  padding: 0 5% !important;
}
.envelop-icon {
  background-color: rgb(255, 194, 13);
  font-size: large !important;
  color: white;
}
.photo-div-cols {
  padding: 25px !important;
}
.portfolio-fluid-div {
  padding: 0 !important;
}
.portfolio-div1 {
  padding: 1% 10% !important;
  text-align: center;
  background-color: white;
}

.portfolio-listrow1 {
  /*padding: 0 25%;*/
  text-align: center;
  background-color: white;
}
.portfolio-listrow1 .col {
  border: 0.5px solid rgb(255, 194, 13) !important;
  margin: 0 0.5vw !important;
  padding: 2%;
}
.portfolio-listrow1 .col p {
  margin-bottom: 0 !important;
}
.portfolio-listrow2 {
  text-align: center;
  font-size: xx-large;
  color: rgb(255, 194, 13);
  background-color: white;
}
.portfolio-photos {
  background-color: white;
}
.photos {
  padding: 1% !important;
}
.photos-para {
  background-image: url(../image/image3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% !important;
}

.photos-para1 {
  background-color: rgba(50, 50, 50, 0.5) !important;
  /*padding-top: 70% !important;*/
  margin-top: 70%;
  margin-bottom: 0 !important;

  color: white;
}
.footer-bgimage {
  background-image: url(../image/image2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 !important;
}
.footer-bgcolor {
  background-color: rgba(50, 50, 50, 0.8);
  padding: 0 !important;
}
.footer-contact-para {
  color: white;
  text-align: center;
  padding: 1% 10%;
}
.address {
  text-align: center;
  padding: 10%;
}
#text1 {
  display: block !important;
  width: 70% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  font-size: small;
}
.footer-menudiv {
  text-align: center;
  padding: 10% !important;
}
/*.footer-menudiv ul {
  padding-left: 25%;
  padding-right: 25%;
}*/
.footer-burger {
  color: white;
  font-size: xx-large;
  background-color: rgb(255, 194, 13);
  margin-left: 0 !important;
}